.mainBase{
	-fx-effect: dropshadow( three-pass-box , #1f1f1f , 0,0.4,3,3 );
		-fx-background-color:#212121;

}
.linkButton{
	-fx-shadow-highlight-color : transparent;
	-fx-outer-border : transparent; 
    -fx-inner-border : transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color : transparent;
    -fx-background-color:transparent;
    -fx-text-fill:#FAFAFA;
    -fx-font-size:14px;
	-fx-font-weight:bold;
	-fx-underline:true;
}
.noramlButton{
	-fx-font-size:14px;
	-fx-font-weight:bold;
	-fx-padding:5 20 5 20;
	-fx-background-radius:10;
	-fx-text-fill:#FAFAFA;
	-fx-background-color:linear-gradient(to left, #232526 , #414345);
}
.label{
	-fx-text-fill:#F5F5F5;
}
.base{
	-fx-background-color:linear-gradient( from 0% 30% to 60% 100%,#0288D1,#0091EA,#01579B);
}